html{padding:0;margin: 0;box-sizing: border-box;	}
*,*:before,*:after{padding:inherit;margin:inherit;box-sizing: inherit}
img{ max-width: 100%; border: none; }

#banner-wrapper{
	position: absolute;
	width:160px;
	height:600px;
	border: 1px solid #999;
	background: #00539b url('../img/bg.jpg') no-repeat;
	z-index:1;
	overflow: hidden;
}

.screen5,
.screen4,
.screen3,
.screen2{
   position: absolute;
   left: 0; top: 0;
   width: 100%; height: 100%;
   visibility: hidden;
}
.screen5_txt1,
.screen4_txt2,
.screen4_txt1,
.screen3_txt2,
.screen3_txt1,
.screen2_txt2,
.screen2_txt1{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	position: absolute;
	text-align: center;
	opacity: 0;
}
.screen3_txt1,
.screen2_txt1{
	opacity: 1;
	font-size: 17px;
	left: 0px; top: 232px;
}
.screen3_txt2,
.screen2_txt2{
	font-size: 32px;
	left: 17px; top: 309px;
}
.screen3_txt2{
	left: 4px;
	opacity:1;
}
.screen4_txt1{
	opacity: 1;
	font-size: 19px;
	left: 8px; top: 88px;
}
.screen4_txt2{
	font-size: 26px;
	left: 6px;	top: 109px;
	opacity: 1
}
.screen5_txt1{
	font-size: 18px;
	font-family: "Roboto",sans-serif;
	left: 0px; top: 112px;
	line-height: 21px;
	opacity: 1;
}
.pin10,.pin9,.pin8,.pin7,.pin6,.pin5,.pin4,.pin3,.pin2,.pin1{
	position:absolute;
	background: url(../img/navigation_pin.png) no-repeat 0 0 / cover;
}
.pin1{
	left:6px;	 top:-5px;
	width: 77px; height: 120px;
	opacity: 0.4
}
.pin2{
	left:105px; top:31px;
	width: 31px; height: 49px;
	opacity: 0.6
}
.pin3{
	left:18px;	top:501px;
	width: 77px; height: 120px;
	opacity: 0.4
}
.pin4{
	left:76px;	top:160px;
	width: 31px; height: 49px;
	opacity: 0.6
}
.pin5{
	left:90px; top:480px;
	width: 31px; height: 49px;
	opacity: 0.6
}
.pin6{
	left:112px; bottom:-12px;
	width: 31px; height: 49px;
	opacity: 0.6
}
.pin7{
	left:-19px; bottom:121px;
	width: 77px; height: 120px;
	opacity: 0.4
}
.pin8{
	left:119px;	top:102px;
	width: 52px; height: 81px;
	opacity: 0.8
}
.pin9{
	left:-7px; top:126px;
	width: 52px; height: 81px;
	opacity: 0.8
}
.pin10{
	left:97px;	 bottom: 150px;
	width: 52px; height: 81px;
	opacity: 0.8
}

#btn_arrow,
#btn_txt,
.logo,
.box{
	position: absolute;
	/*opacity:0;*/
}
.box{
	right: 17px; top: 196px;
	width: 123px; height: 112px;
}
.logo{
	/*width: 162px; height: 43px;*/
	left: 8px;  top: 13px;
}
#btn_txt{	left: 16px; top: 8.5px; }
#btn_arrow{ left: 117px; top: 5px; }

.txtbtnhover,
.shine,
.txtbtn2,
.txtbtn{
	position: absolute;
	opacity: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.txtbtn{
	right: 10px; top: 309px;
	width: 137px; height: 29px;
	z-index: 3;
	overflow: hidden;
	border-radius: 5px;
	/*opacity: 1*/
}
/*.txtbtn2{
	top: 85px; right: 14px;
	width: 96px; height: 40px;
	z-index: 3;
	overflow: hidden;
	border-radius: 5px;
}*/
.shine{
   left: -80px;
   top: 0;
   z-index: 1;
   height: 40px
}
.txtbtnhover{
	top: 102px; right: 4px;
	width: 150px; height: 31px;
}


/*///////////////////////////////////////// Scroll /////////////////////////////////////*/
.scrollBlock{
	visibility: hidden;
	height: 210px;
	position: absolute;
	left:0;
	bottom:35px;
	z-index: 6;
   font-family: "Roboto",sans-serif;
	font-weight: normal;
   font-style: normal;
	overflow:hidden;
	width: 160px;
}
.scrollInner{
	height:158px;
	/*width: 146px;*/
	width: 158px;
}
.mCustomScrollBox{
	padding: 0 15px 0 10px;
}


.smallText img{
	display: inline-block;
}

.scrollBlock h2{
	font-size:12px;
	color: #fff;
	margin: 0 0 10px 0;
	padding: 0;
}
.scrollBlock h3{
	font-size:12px;
	color:#fff;
	margin: 10px 0 -7px 0;
	padding: 0;
}

.scrollBlock p{
	font-size:12px;
	line-height: 1.2;
	color:#fff;
	margin: 10px 0 5px 0;
	padding: 0;
	letter-spacing: 0.5px;
	opacity: 0.9;
}

.scrollBlock div{
font-size:12px;
color:#fff;
margin: 0 0 0px 0;
/*padding: 0;*/
font-family: "Roboto",sans-serif;
font-weight: normal;
font-style: normal;
}

.scrollBlock div ul{margin-left:-23px;}

.scrollBlock div ul li{
font-size:12px;
color:#fff;
margin: 0px 0px 5px 0px;
padding: 0;
font-family: "Roboto",sans-serif;
font-weight: normal;
font-style: normal;
}

.scroll-content-title{
	padding: 0px 10px 0px 6px;
	font-family: "Roboto",sans-serif;
	font-size:12px;
	color:#fff;
	font-weight:bold;
}

.footer{
	visibility: hidden;
	text-align: left;
   height: 35px;
   font-size: 10px;
   font-weight: normal;
   background-color: #fff;
   font-family: "Roboto",sans-serif;
   font-style: normal;
	position: absolute;
	bottom: 0px;
	width: 160px;
}

.footer a, .scrollBlock a{
	color: #316ea3;
}

.screens{
	display: block;
	width:100%;
	height: 100%;
	height: 600px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

#txtBtn
{
	cursor:pointer;
	position:absolute;
}

#terms_screen2
{
	cursor:pointer;
}
#cta2
{
	width: 56px;
	height: 17px;
	position: absolute;
	left: 91px;
}

#cta3
{
	position: absolute;
	left: 170px;
	width: 91px;
	height: 17px;
}

#cta2,#cta3,#ISI_presc_info,#ISI_patient_info
{
	cursor:pointer;
	color:#fff;
	text-decoration:underline;
}

#ISI_medwatch
{
	color:#00529B;
	cursor:pointer;
	text-decoration:underline;
}

#link1 {
	position:absolute;
	height: 11px;
    left: 105px;
    top: 230px;
    width: 58px;
}

#link2 {
	position:absolute;
	height: 11px;
	left: 183px;
    top: 230px;
    width: 92px;
}

.footerImg{
	padding-top: 4px;
	margin-left: 7px;
}


#click_tag{
cursor: pointer;
width: 100%;
height: 135px;
position: absolute;
left: 0;
top: 0;
z-index: 5;
}

#txtBtn
{
	cursor:pointer;
	position:absolute;
}

#terms_screen2
{
	cursor:pointer;
}

#cta2,#cta3,#ISI_presc_info,#ISI_patient_info
{
	cursor:pointer;
	color:#fff;
	text-decoration:underline;
}

#ISI_medwatch
{
	color:#fff;
	cursor:pointer;
	text-decoration:underline;
}
#isi_mylan{
	position: relative;
	left: 5px;
	padding: 0;
}

/********************** Scroll Bar CSS ****************/
.mCSB_scrollTools .mCSB_buttonUp {
	background: rgba(0, 0, 0, 0) url("../img/arrow-up.png") no-repeat scroll center top;
	height: 6px;
	width: 12px;
	margin-left: 1.2px;
}

.mCSB_scrollTools .mCSB_buttonDown {
	background: rgba(0, 0, 0, 0) url("../img/arrow-down.png") no-repeat scroll center top;
	height: 6px;
	width: 12px;
	margin-left: 1.2px;
}

.mCSB_inside > .mCSB_container {
	margin-right: 4px;
	margin-left: -6px;
}

.mCSB_container {
	height: auto;
	overflow: hidden;
	padding: 2px 2px 20px 2px;
	width: auto;
}

.mCSB_scrollTools {
    bottom: 0;
    height: 152px;
    left: auto;
    position: absolute;
    right: 3px; top: 3px;
    width: 14px;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color:rgba(255,255,255,.5);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    /* background: #ffffff none repeat scroll 0 0; */
	background-color:rgba(255,255,255,.5);
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #8ea2c9;
    border-radius: 0;
	opacity:1;
    height: 100%;
    margin: 0 auto;
    width: 10px;
    border-radius: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 8px;
    border-radius: 0;
	background-color:rgba(255,255,255,.5);
}

.mCSB_scrollTools a + .mCSB_draggerContainer {
    margin: 0;
	margin-top: 3px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    bottom: 0;
    height: 137px;
    left: 0;
    position: absolute;
    right: 0;
    top: 3px;
}

.mCSB_scrollTools .mCSB_dragger{
	height: 6px !important;
	/*top:1px!important;*/
	margin-top: 1px!important;
}

#IIS_heading2
{
	padding-top: 9px;
}

/*Updated scroll css*/
			.mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover, .mCSB_scrollTools .mCSB_buttonUp:hover
			{
				opacity:1;
			}

			.mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp
			{
				opacity:1;
			}

			#mCSB_1_scrollbar_vertical
			{
				z-index:7;
				padding: 0;
			}





/*************  Animation  **************/

.clock7,
.clock6,
.clock5,
.clock4,
.clock3,
.clock2,
.clock1{
	position: absolute;
}
.clock1 {
	right: -49px; bottom: 95px;
	width: 132px; height: 132px;
	opacity: 0.35
}
.clock2 {
	left: 70px; bottom: -15px;
	width: 80px; height: 80px;
	opacity: 0.9
}
.clock3{
	left: 17px;	bottom: 64px;
	width: 45px; height: 45px;
	opacity: 0.65
}
.clock4 {
	right: 106px; top: 176px;
	width: 45px; height: 45px;
	opacity: 0.65
}
.clock5 {
	left: -18px;  bottom: 147px;
	width: 80px; height: 80px;
	opacity: 0.9
}
.clock6{
	left: 51px; top: 61px;
	width: 132px; height: 132px;
	opacity: 0.4
}
.clock7{
	left: -15px; top: 6px;
	width: 80px; height: 80px;
	opacity: 0.9
}
.clock7 .clock7bg,
.clock6 .clock6bg,
.clock5 .clock5bg,
.clock4 .clock4bg,
.clock3 .clock3bg,
.clock2 .clock2bg,
.clock1 .clock1bg{
	position: absolute;
	background: url(../img/clock.png) no-repeat 0 0 / cover ;
	left: 0; top: 0;
}
.clock1 .clock1bg{
	width: 132px; height: 132px;
}
.clock2 .clock2bg{
	width: 80px; height: 80px;
}
.clock3 .clock3bg{
	width: 45px; height: 45px;
}
.clock4 .clock4bg{
	width: 45px; height: 45px;
}
.clock5 .clock5bg{
	width: 45px; height: 45px;
}
.clock6 .clock6bg{
	width: 132px; height: 132px;
}
.clock7 .clock7bg{
	width: 80px; height: 80px;
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(180deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(180deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(180deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotate
{
    from{transform:rotate(180deg);}
    to{transform:rotate(360deg);}
}
.clockh{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 24s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 10s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/hour.png") no-repeat scroll 0 0 / cover ;
}

.clock1h, .clock1m {
    height: 132px;
    width: 132px;
    position: absolute;
	opacity: 0.2;
}

@-webkit-keyframes spinnerRotate1
{
    from{-webkit-transform:rotate(90deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate1
{
    from{-moz-transform:rotate(90deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate1
{
    from{-ms-transform:rotate(90deg);}
    to{-ms-transform:rotate(360deg);}
}

@keyframes spinnerRotate1
{
    from{transform:rotate(90deg);}
    to{transform:rotate(360deg);}
}
.clock1h
{
	animation-name: spinnerRotate1;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	-webkit-animation-name: spinnerRotate1;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate1;
    -moz-animation-duration: 54s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate1;
    -ms-animation-duration: 40s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/hour.png") no-repeat scroll 0 0 / cover ;
}

.clock2h, .clock2m {
    height: 80px;
    width: 80px;
    position: absolute;
	opacity: 0.2;
}

@-webkit-keyframes spinnerRotate2
{
    from{-webkit-transform:rotate(-70deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate2
{
    from{-moz-transform:rotate(-70deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate2
{
    from{-ms-transform:rotate(-70deg);}
    to{-ms-transform:rotate(360deg);}
}

@keyframes spinnerRotate2
{
    from{transform:rotate(-70deg);}
    to{transform:rotate(360deg);}
}
.clock2h
{
	animation-name: spinnerRotate2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	-webkit-animation-name: spinnerRotate2;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate2;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate2;
    -ms-animation-duration: 20s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/hour.png") no-repeat scroll 0 0 / cover ;
}

.clock3h, .clock3m {
    height: 45px;
    width: 45px;
    position: absolute;
	opacity: 0.2;
}

@-webkit-keyframes spinnerRotate3
{
    from{-webkit-transform:rotate(120deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate3
{
    from{-moz-transform:rotate(120deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate3
{
    from{-ms-transform:rotate(120deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotate3
{
    from{transform:rotate(120deg);}
    to{transform:rotate(360deg);}
}
.clock3h{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotate3;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotate3;
    -webkit-animation-duration: 18s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate3;
    -moz-animation-duration: 29s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate3;
    -ms-animation-duration: 18s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/hour.png") no-repeat scroll 0 0 / cover ;
}

.clock4h, .clock4m {
    height: 45px;
    width: 45px;
    position: absolute;
	opacity: 0.2;
}

@-webkit-keyframes spinnerRotate4
{
    from{-webkit-transform:rotate(-160deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate4
{
    from{-moz-transform:rotate(-160deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate4
{
    from{-ms-transform:rotate(-160deg);}
    to{-ms-transform:rotate(360deg);}
}

@keyframes spinnerRotate4
{
    from{transform:rotate(-160deg);}
    to{transform:rotate(360deg);}
}
.clock4h
{
	animation-name: spinnerRotate4;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	-webkit-animation-name: spinnerRotate4;
    -webkit-animation-duration: 45s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate4;
    -moz-animation-duration: 59s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate4;
    -ms-animation-duration: 45s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/hour.png") no-repeat scroll 0 0 / cover ;
}

.clock5h, .clock5m {
    height: 45px;
    width: 45px;
    position: absolute;
	opacity: 0.2;
}

@-webkit-keyframes spinnerRotate5
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate5
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate5
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotate5
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clock5h{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotate5;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotate5;
    -webkit-animation-duration: 18s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate5;
    -moz-animation-duration: 29s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate5;
    -ms-animation-duration: 18s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/hour.png") no-repeat scroll 0 0 / cover ;
}

.clock6h, .clock6m {
    height: 132px;
    width: 132px;
    position: absolute;
	opacity: 0.2;
}

@-webkit-keyframes spinnerRotate6
{
    from{-webkit-transform:rotate(-100deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate6
{
    from{-moz-transform:rotate(-100deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate6
{
    from{-ms-transform:rotate(-100deg);}
    to{-ms-transform:rotate(360deg);}
}

@keyframes spinnerRotate6
{
    from{transform:rotate(-100deg);}
    to{transform:rotate(360deg);}
}
.clock6h
{
	animation-name: spinnerRotate6;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	-webkit-animation-name: spinnerRotate6;
    -webkit-animation-duration: 25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate6;
    -moz-animation-duration: 39s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate2;
    -ms-animation-duration: 25s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/hour.png") no-repeat scroll 0 0 / cover ;
}

.clock7h, .clock7m {
    height: 80px;
    width: 80px;
    position: absolute;
	opacity: 0.2;
}
@-webkit-keyframes spinnerRotate7
{
    from{-webkit-transform:rotate(-100deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate7
{
    from{-moz-transform:rotate(-100deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate7
{
    from{-ms-transform:rotate(-100deg);}
    to{-ms-transform:rotate(360deg);}
}

@keyframes spinnerRotate7
{
    from{transform:rotate(-100deg);}
    to{transform:rotate(360deg);}
}
.clock7h
{
	animation-name: spinnerRotate7;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	-webkit-animation-name: spinnerRotate7;
    -webkit-animation-duration: 25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate6;
    -moz-animation-duration: 39s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate2;
    -ms-animation-duration: 25s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/hour.png") no-repeat scroll 0 0 / cover ;
}

@-webkit-keyframes spinnerRotatem
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotatem
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotatem
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotatem
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clockm{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotatem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotatem;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotatem;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotatem;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/minute.png") no-repeat scroll 0 0 / cover;
}

@-webkit-keyframes spinnerRotatem1
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotatem1
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotatem1
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotatem1
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clock1m{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotatem1;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotatem1;
    -webkit-animation-duration: 22s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotatem1;
    -moz-animation-duration: 22s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotatem1;
    -ms-animation-duration: 22s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/minute.png") no-repeat scroll 0 0 / cover;
}

@-webkit-keyframes spinnerRotatem2
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotatem2
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotatem2
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotatem2
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clock2m{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotatem2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotatem2;
    -webkit-animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotatem2;
    -moz-animation-duration: 12s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotatem2;
    -ms-animation-duration: 12s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/minute.png") no-repeat scroll 0 0 / cover;
}

@-webkit-keyframes spinnerRotatem3
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotatem3
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotatem3
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotatem3
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clock3m{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotatem3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotatem3;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotatem3;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotatem3;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/minute.png") no-repeat scroll 0 0 / cover;
}

@-webkit-keyframes spinnerRotatem4
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotatem4
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotatem4
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotatem4
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clock4m{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotatem4;
    animation-duration: 27s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotatem4;
    -webkit-animation-duration: 27s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotatem4;
    -moz-animation-duration: 27s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotatem4;
    -ms-animation-duration: 27s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/minute.png") no-repeat scroll 0 0 / cover;
}
@-webkit-keyframes spinnerRotatem5
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotatem5
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotatem5
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotatem5
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clock5m{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotatem5;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotatem5;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotatem5;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotatem5;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/minute.png") no-repeat scroll 0 0 / cover;
}
@-webkit-keyframes spinnerRotatem6
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotatem6
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotatem6
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotatem6
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clock6m{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotatem6;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotatem6;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotatem6;
    -moz-animation-duration: 17s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotatem6;
    -ms-animation-duration: 17s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/minute.png") no-repeat scroll 0 0 / cover;
}
@-webkit-keyframes spinnerRotatem7
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotatem7
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotatem7
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
@keyframes spinnerRotatem7
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.clock7m{
    position: absolute;
    top: 0;
    left:0%;
	animation-name: spinnerRotatem7;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: spinnerRotatem7;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotatem7;
    -moz-animation-duration: 17s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotatem7;
    -ms-animation-duration: 17s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
	background: rgba(0, 0, 0, 0) url("../img/minute.png") no-repeat scroll 0 0 / cover;
}

#clickTag2{
position: absolute;
top: 6px;
left: 14px;
color: #5d5d5e;}